.firstDiv {
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 20px;
  gap: 20px;
}
.firstDiv > div {
  background-color: #eceff0;
  padding: 10px;
}
.secondDiv {
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  padding: 0 10px 0 10px;

}
.thirdDiv {
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  padding: 0 10px 0 10px;
  background-color: #f1f7f7;

}
